html {
    margin:0;
    padding:0;
    background-color: black;
}

:root {
    box-sizing: border-box;
}

*, ::before, ::after {
    box-sizing: inherit;
}

#header {
    display: flex;
    justify-content: space-between;
    background-image: url("009A85DB-B631-42A9-869C-E781156EB86D.png");
    background-size: 130rem;
    background-repeat: no-repeat;
    align-items: center;
    position: sticky;
    top:0;
    overflow: hidden;
}

.logo {
    flex: 0 0 20%;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    flex: 0 0 60%;
}

.navbar li {
    padding-right: 1rem;
}

.navbar li a {
    color:white;
    text-decoration: none;
    font-size:1.4rem;
}

.social-media {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    flex: 0 0 20%;
}

.social-media li a img {
    width: 3rem;
    max-height: 3rem;
}

span {
    color: white;
    font-size: 5rem;
}
